.vpn-info-key {
    color: #5294e2;
}

.vpn-info-vpn-init {
    color: #838A85;
}

.vpn-info-vpn-on {
    color: #6ae252;
}

.vpn-info-vpn-off {
    color: #e25252;
}

.vpn-icon-vpn-init {
    padding-left: 20px;
    color: #838A85;
}

.vpn-icon-vpn-on {
    padding-left: 20px;
    color: #6ae252;
}

.vpn-icon-vpn-off {
    padding-left: 20px;
    color: #e25252;
}

.vpn-info-box {
    padding-left: 20px;
    min-width: 240px;
}

.vpn-info-value {
    color: #838A85;
}
